.DiaryWriter {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryWriter input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryWriter textarea {
  height: 150px;
}

.DiaryWriter select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryWriter button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
